body{
    margin: 0px;
}


*, *::after, *::before{    
    box-sizing: border-box;
}

header{
    width: auto;
    height: 62px;
    background: #F1F1F1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

header div img{
    width: 18.68px;
    height: 22px;
    margin-top: 20px;
    /* margin-left: 80px; */
}

header div p{
    width: 86px;
    height: 22px;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #000000;    
    margin-right: 28px;
}

.menu_wrapper a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* display: flex;
    align-items: center;
    text-align: center; */
    color: #081E34;
    margin-right: 28px;
    white-space: nowrap;
}

.menu_wrapper button{
    /* text style */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #081E34;
    
    /* button style */
    padding: 10px 12px;
    gap: 8px;
    width: 102px;
    height: 38px;
    background: rgba(8, 30, 52, 0.12);
    border-radius: 100px;
    white-space: nowrap;
    border: none;
}
